<%= link_to "Back to All Movies", movies_path %>

<h2>Administrator User Panel</h2>
  <table>
    <tr>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Email</td>
      <td>Date Account Created</td>
      <td>Admin</td>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.firstname %></td>
      <td><%= user.lastname %></td>
      <td><%= user.email %></td>
      <td><%= formatted_date(user.created_at) %></td>
      <td><%= user.admin ? "Yes" : "No" %></td>
    </tr>
    <% end %>
  </table>
<%= paginate @users %>